#works {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 0;
}

/* mobile styles */
@media only screen and (max-width: 767px) { 
    .background-video {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        height: 100%;
        height: -webkit-fill-available;
        z-index: -1;
        background-size: cover;
    }
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
    .background-video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        height: 100%;
        height: -webkit-fill-available;
        z-index: -1;
        background-size: cover;
    }
}

#works .contents {
    background-color:rgba(0,0,0,0.5);
    color: #e1dfdf;
    text-align: center;
    width: 100%;
}

#works .title {
    font-family: serif;
    font-size: 1.5em;
    padding-top: 5rem;
}
