#works {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 0;
}

/* mobile styles */
@media only screen and (max-width: 767px) { 
    .background-video {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        height: 100%;
        height: -webkit-fill-available;
        z-index: -1;
        background-size: cover;
    }
}

/* desktop styles */
@media only screen and (min-width: 768px) { 
    .background-video {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-size: cover;
    }
}
@media only screen and (max-width: 1023px) { 
    .background-video {
        height: 100%;
    }
}
@media only screen and (min-width: 1024px) { 
    .background-video {
        width: 100%;
    }
}

#works .contents {
    background-color:rgba(0,0,0,0.5);
    color: #e1dfdf;
    text-align: center;
    width: 100%;
}

#works .title {
    font-family: serif;
    font-size: 1.5em;
    padding-top: 3rem;
}

.gallery {
    padding: 1em;
    background-color: blanchedalmond;
}

.gallery-cell {
    width: 66%;
    height: 16em;
    margin-right: 10px;
    counter-increment: gallery-cell;
    background-color: blueviolet;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}