* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: grey;
}

.gameboy {
    background-color: rgb(243, 232, 217);
    width: 300px;
    height: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    position: relative;
    top: 1em;
    margin: auto;
}

.screen-area {
    background-color: lightgray;
    width: 250px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 40px;
    position: relative;
    top: 2em;
    margin: auto;
}

.screen-str-area {
    font-size: 10px;
    background-color: yellow;
    width: 248px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
}

.line-left {
    width: 30px;
    height: 20px;
    float: left;
}

.line-red {
    width: 30px;
    height: 1px;
    background-color: red;
    display: inline-block;
}

.line-blue {
    width: 30px;
    height: 1px;
    background-color: blue;
    display: block;
}

.screen-str {
    height: 20px;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    font-family: monospace;
}