<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="./css/event.css"> -->
    <title>Event</title>
</head>
<body>
    <div id="app">
        <h1>Event</h1>
        <p>
            {{counter}} {{msg}}
        </p>
        <button v-on:click="counter++">
            click
        </button>
        <button v-on:click="clickHandler($event, 'vue.js')">
            click2
        </button>
        <button v-on:click.once="clickHandler2">
            Now
        </button>
        <!-- <input type="text" v-on:keyup.27="clear" v-model="msg"> -->
        <!-- <input type="text" v-on:keyup.esc="clear" v-model="msg"> -->
        <!-- <input type="text" v-on:keyup.esc.space.up="clear" v-model="msg"> -->
        <input type="text" v-on:keyup.ctrl.67="clear" v-model="msg">
        <div @click="clickHandler3">
            click
        </div>
        <pre>{{$data}}</pre>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="./js/event.js"></script>
</body>
</html>