<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/property.css">
    <title>ToDo</title>
</head>
<body>
    <div id="app">
        <h1>Property</h1>
        <p>
            {{reversem()}}
        </p>
        <input type="text" v-model="price" placeholder="price">
        <br>
        <input type="text" v-model="taxPrice" placeholder="tax">

        <ul>
            <li>{{randomNum}}</li>
            <li>{{randomNum}}</li>
            <li>{{randomNum}}</li>
        </ul>
        <ul>
            <li>{{randomNumm()}}</li>
            <li>{{randomNumm()}}</li>
            <li>{{randomNumm()}}</li>
        </ul>
        <pre>{{$data}}</pre>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="./js/property.js"></script>
</body>
</html>